# Dependency directory
node_modules/

# Environment variables & secrets
.env
.env.*
!.env.example

# Dynamic server uploads
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
.vscode/
.idea/
