# Dependency directory
node_modules/

# Environment variables & secrets
.env
.env.*

# Local MongoMemoryServer data
.mongo-data/

# Uploaded files
uploads/*
!uploads/.gitkeep

# Logs
logs/
*.log
npm-debug.log*

# OS & Editor files
.DS_Store
.vscode/
.idea/
